<div class="container-fluid" >
    <div class="row" style="height:-webkit-fill-available;"> 
        <div class="col" style="background-color:#aaa">
            <form action="#">
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="phno">Phone Number:</label>
                    <input type="tel" class="form-control" id="phno">
                </div>
                <div class="form-group">
                    <label for="CityName"> City Name:</label>
                    <input type="text" class="form-control" id="CityName">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>

        <div class="col-1">
            svg draw connector
        </div>

        <div class="col" style="background-color:#333">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
        </div>        
    </div>
</div>